@font-face {
    font-family: 'AileronRegular';
    src: url(../challenge-project-company-homepage/fonts/aileron/Aileron-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'JosefinSansRegular';
    src: url(../challenge-project-company-homepage/fonts/Josefin_Sans/static/JosefinSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Arimo';
    src: url(../challenge-project-company-homepage/fonts/Arimo/static/Arimo-Regular.ttf) format('truetype');
}

html {
    font-size: 10px;
}

header {
    position: fixed;
    top: 0rem;
    left: 0rem;
    width: 100%;
    max-height: 10rem;
    background-color: #f2e9e1;
    z-index: 1;
}

#header-flex-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-height: 10rem;
}

#logotitle-flex-container {
    display: flex;
    min-width: 30%;
    max-width: 50%;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

}

#logotitle-flex-container figure {
    height: 100%;
    margin: 0;
    margin-left: 1.2rem;
    max-width: 10rem;
    display: flex;
}

#logotitle-flex-container img {
    max-width: 100%;
    height: auto;
    margin: auto;
}

#headings-container {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    align-content: center;
    justify-content: center;
}

#title-heading {
    padding-left: 1rem;
    text-align: left;
    font-family: 'AileronRegular', sans-serif;
    font-size: 4.5rem;
    font-weight: bold;
    color: #a66940;
}

#subtitle-heading {
    padding-left: 1rem;
    text-align: left;
    font-family: 'JosefinSansRegular';
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 1rem;
    position: relative;
    top: -3rem;
    color: #a66940;
}

#top-navbar {
    display: flex;
    max-width: 40%;
    margin-right: 5rem;
    justify-content: space-around;
}

#top-navbar ul {
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    align-items: center;
    margin: 0;
}

#top-navbar li {
    list-style-type: none;
    margin: 0 1rem;
}

#top-navbar li a {
    font-family: 'JosefinSansRegular';
    font-size: 2rem;
    margin: auto;
    color: #a66940;
}

#top-navbar li a:hover {
    color: #716f35;
}

body {
    margin: 0;
    padding: 0;
}

main {
    position: absolute;
    top: 10rem;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: #f2e9e1;
}

#sobre-a-inga {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url('./images/candle-generic-imgs/sharon-mccutcheon-62vi3TG5EDg-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 1rem;
    align-content: center;
    justify-content: center;
}

#sobre-a-inga h2 {
    font-family: 'JosefinSansRegular', sans-serif;
    color: #a66940;
    text-align: center;
    padding-top: 0.1rem;
    font-size: 4rem;
}

#sobre-a-inga p {
    font-family: 'Arimo';
    font-size: 1.6rem;
    width: 100%;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    padding: 0.55rem 0;
    line-height: 2.75rem;
    text-decoration-style:double;
    text-decoration: #a66940;
}

.big-text-container {
    width: 70%;
    margin: 0 auto;
}

#products-section-regularization {
    position: relative;
    top: -6rem;
}

#nossas-velas {
    width: 100%;
    margin: 0;
    margin-top: 0;
    background-color: #fff;
    padding-bottom: 2rem;
}

#nossas-velas h1 {
    text-align: center;
    font-family: 'JosefinSansRegular', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    color: #a66940;
    padding-top: 2rem;
}

#nossas-velas a {
    text-align: center;
    font-family: 'AileronRegular', sans-serif;
    font-size: 2rem;
    font-weight: bolder;
    margin: auto;
    width: 100%;
    color: #a66940;
    position: relative;
    left: 46%;
    padding-bottom: 2rem;
}

#velas-container {
    display: flex;
    flex: 1 1 10rem;
    justify-content: space-around;
    align-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
}

.velas-itens {
    max-width: 19%;
}

.velas-itens img {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 4rem;
    border: 0.01rem solid salmon;
}

.velas-itens h3 {
    font-family: 'Arimo';
    font-size: 1.4rem;
    color: #a66940;
    text-align: center;
    text-transform: uppercase;
}

#nosso-time h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
    font-family: 'JosefinSansRegular', sans-serif;
    color: #a66940;
    padding-top: 4rem;
}

#time-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: baseline;
}

.time-itens {
    max-width: 19%;
}

.time-itens img {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 10rem;
    border: 0.01rem solid salmon;
}

.time-itens h2 {
    font-family: 'JosefinSansRegular', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    color: #716f35;
    text-decoration: underline;
}

.time-itens h3 {
    font-family: 'Arimo';
    font-size: 2rem;
    text-align: center;
    color: #716f35;
}

#time-position-regularization {
    position: relative;
    top: -3rem;
}

#contato-footer {
    position: relative;
    top: 220rem;
    z-index: 1;
    background-color: #db9a8f;
}

#footer-flex-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
}

#contact-container {
    margin-left: 7.5rem;
    max-width: 40%;
}

#contact-container h3 {
    font-family: 'AileronRegular';
    font-size: 2rem;
    font-weight: 700;
    color: #854f2b;
    text-decoration: double;
}

#contact-container .first {
    font-family: 'JosefinSansRegular';
    font-size: 1.6rem;
    font-weight: 500;
    color: #854f2b;
}

#contact-container .second {
    font-family: 'JosefinSansRegular';
    font-size: 1.5rem;
    font-weight: 400;
    color: #a74504;
    text-decoration: underline;
}

#contact-container .second:hover {
    color: #a66940;
}

#copyicons-container {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    justify-content: center;
    align-content: center;
    margin-right: 7.5rem;
}

#icons-container{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

#icons-container img {
    max-width: 8%;
    height: auto;
    overflow: hidden;
    margin-left: 2rem;
    margin-right: 2rem;
}

#copyicons-container h3 {
    text-align: center;
    font-family: 'AileronRegular';
    font-size: 2rem;
    font-weight: 900;
    color: #461f05;
    margin: 0 auto;
    margin-top: 1rem;
}

#copyicons-container h4 {
    text-align: center;
    font-family: 'AileronRegular';
    font-size: 1.5rem;
    font-weight: 900;
    color: #461f05;
    margin: 0 auto;
}